* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    display: flex;
    justify-content:center;
    align-items:center;
}

.contaner{
    background-image: url(background\ image\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border:8px solid black ;
    height: 300px;
    width: 600px;
    border-radius: 30px;
    border-top-color:lightseagreen ;
    border-bottom-color:lightsalmon ;
    display: flex;
    justify-content: space-around;
    
}

.profile-picture {
    display: flex;
    margin-top: 30px;
    border: 8px solid blueviolet;
    border-radius: 20px;
    background-image:url(my\ profile\ image.jpeg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    transition: 0.4s ease;
}
.username {
    display: flex;

    gap: 10px;
    margin-top: 30px;
    text-transform:capitalize;
    color: black;
    height: 10px;
}

.messege-button  {
    height: 30px;
    width: 100px;
    border-radius:10px;
    border-color:blueviolet;
    transition: 0.4s ease;
    
}
.follow-button {
    height: 30px;
    width: 100px;
    border-radius:10px;
    border-color:blueviolet;
    transition: 0.4s ease;
}


.post {
    display: inline-flex;
    gap: 30px;
    margin-top: 40px;
}

.name {
    margin-top: 15px;
}

.insta-id {
    text-align: start;
    border: 4px solid purple;
    border-radius: 7px;
    cursor: pointer;
}
.catagory{
    color: grey;
    text-transform: capitalize;
    margin-top: 5px;
}
.about {
    margin-top: 10px;
    line-height: 20px;
}
.profile-picture:hover {
    transform: scale(1.1);

}
.follow-button:hover {
    transform: scale(1.1);
}
.messege-button:hover {
    transform: scale(1.1);
}